.header {
    // position: fixed;
    // background: var(--color-light);
    // width: 100%;
    // position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 4;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            font-size: 10px;
            text-transform: uppercase;
        }
        img {
            width: 60px;
            height: auto;
        }
    }

    &__nav {
        &-list {
            display: flex;
            column-gap: 20px;
        }

        &-item {
            position: relative;
            padding: 0.5rem 0.5rem;
            cursor: pointer;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                background: var(--color-accent);
                border-radius: var(--border-radius-small);
                transition: all ease-in-out 0.3s;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }

    &__contact {
        &-list {
            display: flex;
            align-items: center;
            column-gap: 20px;
        }

        &-phone {
            color: var(--color-accent);
            font-weight: bold;
            &:hover {
                color: var(--color-accent-dark);
            }
        }

        &-whatsapp {
            background: var(--color-green);
            color: var(--color-light);
            padding: 0.5rem 1rem;
            border-radius: var(--border-radius-small);
            &:hover {
                background: var(--color-green-dark);
            }
        }

        &-telegram {
            background: var(--color-blue);
            color: var(--color-light);
            padding: 0.5rem 1rem;
            border-radius: var(--border-radius-small);
            &:hover {
                background: var(--color-blue-dark);
            }
        }

        &-whatsapp > span, &-telegram > span{
            @media (max-width: 1200px) {
                display: none;
            }
        }
    }
}
