.service{
    // background: var(--color-gray-light);
    padding: 2rem 0;


    &__title{
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__subtitle{
        margin-bottom: 4rem;
        text-align: center;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        @include mobile{
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-s{
            grid-template-columns:1fr;
        }
    }

    &__item{
        position: relative;
        @include shadow;
        border-radius: var(--border-radius);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        &-title{
            font-size: 1.3rem;
            font-weight: bold;
        }
    }

    &__stock{
        position: absolute;
        top: 15px;
        right: 15px;        
        z-index: 1;

        span{  
            display: inline-block;
            padding: 0.3rem .5rem;
            background: red;
            color: var(--color-light);
            border-radius: var(--border-radius-small);
            font-size: 1.3rem;
        }
    }

    &__block{
        width: 300px;
        height: 200px;
        overflow: hidden;
    }

    &__img{        
        border-radius: var(--border-radius);
        width: 100%;
        // height: auto;
        height: 100%;
        object-fit: cover; 
        display: block;
    }

    &__price{
        display: flex;
        flex-direction: column;
        // align-items: center;
        // gap: 1rem;
        div{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        &-text{
            color: var(--color-accent);
            text-transform: uppercase;
            // font-weight: bold;  
        }
        &-new{
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--color-accent);
        }
        &-old{
            text-decoration: line-through;
            color: var(--color-gray);
        }
    }
}